<div class="container" style="padding:20px;margin:20px;">
 
      <h3 class="mb-3 text-center">FlightStatus</h3>
      <div class="form-group"  style="display: inline-block">
        <input type="text" [(ngModel)]="flightDetails.flightNumber" class="form-control" placeholder="FlightNumber">
      </div>
      <div class="form-group" style="display: inline-block">

        <mat-form-field appearance="fill" style="display: inline-block">
            <mat-label style="color:grey">Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="flightDetails.travelDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
     </div>

      <div class="form-group" style="display: inline-block">
        <button class="btn btn-success btn-lg btn-block" (click)="searchFlight(flightDetails)">Search Flight</button>
      </div>
 
  </div>

